<!doctype html>
<html>
<head>
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title> RuneServer </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
</head>
<body>

<table>

  <tr>
  <h1 class="title_banner">
    {% block title %}
    RUNE SERVER
    {% endblock %}  
  </h1>
  </tr>
  <tr>

    <div id="content">{% block content %}{% endblock %}</div>
  </tr> 
  <tr>
    <div id="footer">
      {% block footer %}
      &copy; 2019 P$
      {% endblock %}
      </div>
  </tr> 
</table>

</body>
</html>