{% extends "layout.html" %}

{% block content %}
<div id="imgs"></div>


<form method=post enctype=multipart/form-data>
{% for image in files %}
    <button name="thumb" type="submit" value="{{image}}">
    <div class="thumbnail_selector"><img class="thumbnail" src="{{image}}" >
    </div>
    </button>
{% endfor %}

 </form>

{% for image in files%}
    <div> {{image}}
    </div>

{% endfor %}

{% endblock %}


{% block footer %}
<script>
var option = 'enlarge';
$(".thumbnail_selector").click(function(){

if (option == 'nothing'){
$(this).hide();
}

if (option == 'enlarge'){
$.post($(this).attr('src'));

// $.post("viewer.html",{source : $(this).src});
}

});

</script>

{% endblock %}

</html>